<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API - FATEC</title>
    <link rel="stylesheet" href="statics/css/api.css">
    <link rel="icon" type="image/png" sizes="32x32" href="./statics/images/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <section class="logo">
            <a href="index.html#home"><img src="statics/images/LOGO.png" alt="LOGO"></a>
        </section>
        <nav>
            <ul>
                <li><a href="index.html#home">Home</a></li>
                <li><a href="index.html#sobre">Sobre</a></li>
                <li><a href="index.html#projetos">Projetos</a></li>
                <li><a href="index.html#contato">Contato</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="topo">
            <article class="box">
                <h1>Projeto Acadêmico | Desempenho de Vereadores</h1>
                <p>O desafio proposto aos alunos é criar uma plataforma web que disponibilize informações sobre o desempenho dos vereadores da cidade durante o atual mandato. As informações estão disponibilizadas em <a href="https://camarasempapel.camarasjc.sp.gov.br/" target="_blank">Câmara Sem Papel</a>. O objetivo é oferecer aos eleitores dados claros e acessíveis que ajudem a tomar decisões informadas nas eleições municipais que se aproximam.</p>

                <h2>Página Home</h2>
                <p>Há um carrossel onde mostra as principais funcionalidades do site. Abaixo do carrossel, a página apresenta todos os vereadores do atual mandato, uma seção com as últimas proposições realizadas pelos vereadores, permitindo que os cidadãos acompanhem os novos debates e temas em discussão. Logo em seguida, a seção de últimos projetos de lei aprovados traz um resumo das leis mais recentes que foram aprovadas, com informações sobre seu impacto e objetivos.</p>
                <img src="statics/images/Pagina Home.png" alt="">

                <h2>Página Vereadores</h2>
                <p>A página de Vereadores oferece uma visão rápida e prática de todos os vereadores eleitos. Cada vereador é listado com seu nome completo e o partido político ao qual pertence. Logo abaixo, há um botão que direciona para um perfil detalhado, onde o cidadão pode acessar mais informações.</p>
                <img src="statics/images/Pagina Vereadores.png" alt="">                           

                <h2>Página Perfil Individual do Vereador</h2>
                <p>O perfil individual de cada vereador oferece uma visão completa de sua trajetória e atuação política. Na página, os visitantes podem encontrar uma biografia detalhada, destacando a formação, experiência profissional e carreira política do vereador. Também são apresentados todas as proposições e projetos de lei aprovados do vereador durante o mandato, permitindo que os eleitores acompanhem suas iniciativas e o impacto de suas ações no município.</p>
                <img src="statics/images/Perfil (1).png" alt="">

                <h2>Página Proposições</h2>
                <p>A página de Proposições permite que os cidadãos tenham acesso a todas as proposições apresentadas pelos vereadores ao longo do mandato atual. Nesta página, é possível navegar por uma lista detalhada de todas as proposições, como moções, requerimentos, emendas e projetos de lei, permitindo uma visão abrangente do trabalho legislativo.</p>
                <img src="statics/images/Proposições.png" alt="">

                <h2>Página Gráficos</h2>
                <p>A página de Gráficos oferece uma visão analítica e visual do trabalho realizado por cada vereador durante o mandato. Utilizando gráficos interativos e comparativos, a página permite aos cidadãos acompanhar e avaliar a performance dos seus representantes de maneira clara e objetiva.</p>
                <img src="statics/images/Gráficos.png" alt="">

                <a href="https://github.com/Draco-Imperium/API_FATEC1" target="_blank"><button class="custom-button">Repositório do Projeto</button></a>
            </article>
        </section>

        <footer>
            Todos os direitos reservados © 2024 João Vitor.
        </footer>
    </main>
</body>
</html>
